.item {
  margin: 26px 17px 4px;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 720px) {
  .item {
    display: flex;
    flex-direction: row;
    border: 0.5px solid #8e8e8e;
    border-radius: 15px;
    max-width: 1070px;
    max-height: 369px;
    overflow: hidden;
  }
}

.item__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .item__container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  .item__container {
    display: grid;
    padding: 0 23px 0 23px;
    flex-direction: column;
    grid-template-areas:
      "title"
      "duration"
      "description"
      "scheldure"
      "price";
  }
}

@media screen and (min-width: 1000px) {
  .item__container {
    grid-template-areas:
      "title title"
      "duration duration"
      "description scheldure"
      "price price";
  }
}

.item__header {
  border-radius: 16px 16px 0px 0px;
  display: flex;
}

.item__header-image {
  max-width: 341px;
  max-height: 220px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

@media screen and (min-width: 920px) {
  .item__header {
    border-radius: 0;
  }

  .item__header-image {
    border: none;
    min-height: 369px;
    min-width: 473px;
    grid-area: img;
  }
}

.item__header-span {
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 0px;
  grid-area: img;
}

.item__header-span_yellow {
  font-size: 12px;
  color: #3e3e3e;
  background: #fed74b;
  padding: 8px 17px;
  left: calc(100% / 2 - 171px);
  top: 65px;
  z-index: 1;
  position: absolute;
}

.item__header-span_blue {
  font-size: 14px;
  color: #ffffff;
  background-color: #7553ff;
  border-radius: 15px 0px 12px;
  padding: 12px 27px;
  left: calc(100% / 2 - 170px);
  z-index: 1;
  position: absolute;
}

@media screen and (min-width: 720px) {
  .item__header-span {
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
    border-radius: 0px;
  }

  .item__header-span_yellow {
    color: #3e3e3e;
    padding: 13px 33px;
    position: absolute;
    left: 17px;
    top: 56px;
  }

  .item__header-span_blue {
    font-size: 14px;
    padding: 12px 35px 14px 35px;
    z-index: 1;
    position: absolute;
    margin-top: 46px;
    left: 17px;
  }
}

@media screen and (min-width: 1060px) {
  .item__header-span_yellow {
    left: calc(100% / 2 - 518px);
    top: 56px;
  }

  .item__header-span_blue {
    left: calc(100% / 2 - 518px);
    margin-top: 46px;
  }
}

.item__duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 0 -10px;
}

.item__duration-icon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.item__duration-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #9e9e9e;
  margin: 0 0 0 9px;
}

@media screen and (min-width: 400px) {
  .item__duration {
    margin: 14px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .item__duration {
    margin: 5px 0 5px -11px;
  }
}

@media screen and (min-width: 920px) {
  .item__duration {
    margin: 11px 0 11px -11px;
  }
}

.item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #404040;
  text-align: left;
  margin: 10px 0 0;
  padding: 0;
}

@media screen and (min-width: 400px) {
  .item__title {
    margin: 10px auto 0;
    text-align: center;
  }
}
@media screen and (min-width: 720px) {
  .item__title {
    grid-area: title;
    margin: 16px 0 0;

    text-align: left;
  }
}
.item__description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-inline-start: 0;
}

.item__description-item {
  margin: 0 0 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__description-item_icon {
  width: 16px;
  height: 12px;
}

.item__description-item_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4b4b4b;
  margin: 0 0 0 20px;
  text-align: left;
}

@media screen and (min-width: 400px) {
  .item__description {
    margin: 10px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .item__description {
    grid-area: description;
    margin: 0;
  }
  .item__description-item_text {
    min-width: max-content;
  }
  .item__description-item_text:last-of-type {
    max-width: 100px;
  }
}

.item__scheldure {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  justify-self: end;
}

.item__scheldure-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  padding: 6px 17px;
  background: #d9e8ff;
  border-radius: 25px;
  margin-right: 9px;
}

.item__scheldure-item:last-of-type {
  margin-right: 0;
}

.item__scheldure-button {
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .item__scheldure {
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  .item__scheldure {
    display: flex;
    flex-direction: row;
    grid-area: scheldure;
  }
  .item__scheldure-item:last-of-type {
    margin-right: 9px;
  }
}

@media screen and (min-width: 1000px) {
  .item__scheldure {
    align-items: flex-end;
    justify-self: flex-start;
    margin: 0 0 6px;
    max-height: 31px;
    margin-top: 84px;
    margin-left: -145px;
  }
  .item__scheldure-item:last-of-type {
    margin-right: 9px;
  }
}

.item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 0 5px;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .item__footer {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 720px) {
  .item__footer {
    grid-area: price;
    justify-content: left;
    align-items: baseline;
  }
}

.item__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
  color: #000000;
}

.item__price-promotion {
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.item__price-total {
  font-size: 10px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .item__price {
    min-width: 120px;
  }

  .item__price-promotion {
    font-size: 36px;
  }

  .item__price-total {
    font-size: 14px;
    margin: 8px 0 0;
  }
}

.item__button {
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  cursor: pointer;
  border-radius: 20px;
  background-color: #fed74b;
  border: 0.5px solid #cba500;
  padding: 11px 41px 10px;
}

@media screen and (min-width: 720px) {
  .item__button {
    margin: 0 0 0 10px;
  }
}
